body {
	
	margin: 25%;
	margin-top: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 13pt;
	line-height: 25pt;
}

ol {
  color: blue; /* Remove default bullets */
}


img {

	width: 80%;
	height: auto;
	
}